{#
/**
 * @file cat.html.twig
 * Default theme implementation to present Cat data.
 *
 * This template is used when viewing Cat pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_cat()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('cat') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
